# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output
*.lcov

# Build folders
dist
build

# Cache
.cache
.parcel-cache
.eslintcache

# VS Code test files
.vscode-test

# OS files
.DS_Store
Thumbs.db